  
@font-face {
    font-family: 'ABL';
    src: url(../../fonts/AribauGroteskBlack.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AB';
    src: url(../../fonts/AribauGroteskBold.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AM';
    src: url(../../fonts/AribauGroteskMedium.otf);
    font-weight: normal;
    font-style: normal;
}

  
@font-face {
    font-family: 'AR';
    src: url(../../fonts/AribauGroteskRegular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AT';
    src: url(../../fonts/AribauGroteskThin.otf);
    font-weight: normal;
    font-style: normal;
}