<div class="header">
    <div class="modules">
        <button [routerLink]="'human-resources'" [class.active]="activeModule == 'human-resources'">
            <span class="icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="black" xmlns="http://www.w3.org/2000/svg" [innerHTML]="transformSvg(icons.users)" class=""></svg>
            </span>
            <span>HR Module</span>
        </button>
        <button [disabled]="false" [routerLink]="'orders'" [class.active]="activeModule == 'orders'">
            <span class="icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="black" xmlns="http://www.w3.org/2000/svg" [innerHTML]="transformSvg(icons.layer)" class=""></svg>
            </span>
            <span>Orders Module</span>
        </button>
        <!-- <button (click)="activeModule = 'acs'" [class.active]="activeModule == 'acs'">
            <span class="icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="black" xmlns="http://www.w3.org/2000/svg" [innerHTML]="transformSvg(icons.faceId)" class=""></svg>
            </span>
            <span>Checkviz Module</span>
        </button> -->
    </div>

    <div class="user-actions">
        <span class="icon text-danger" (click)="createMessage()" >
            <app-icon [iconName]="'shieldDoc'" [iconWidth]="24" [iconHeight]="24" title="Message Support"></app-icon>
        </span>
        <span class="icon" [matMenuTriggerFor]="notificationsMenu">
            <app-icon [iconName]="'bell'" [iconWidth]="24" [iconHeight]="24" title="Notifications"></app-icon>
            <div *ngIf="notificationBadgeCount > 0" class="badge">{{notificationBadgeCount}}</div>
        </span>
        <mat-menu #notificationsMenu="matMenu" xPosition="before" (closed)="markAllAsRead()" class="xl">
            <div class="listed-items my-3 px-3">
                <div role='button' *ngFor="let item of notifications" class="item align-items-start">
                    <ng-container *ngIf="item.notificationType">
                        <div *ngIf="item?.notificationType === 'Leave Request'" class="icon" [class.text-danger]="item?.notificationType === 'Leave Request'">
                            <app-icon [iconName]="'calendarTime'" [iconWidth]="28" [iconHeight]="28"></app-icon>
                        </div>
                        <div *ngIf="item?.notificationType === 'Meeting Invitation'" class="icon" [class.text-primary]="item?.notificationType === 'Meeting Invitation'">
                            <app-icon [iconName]="'calendar'" [iconWidth]="28" [iconHeight]="28"></app-icon>
                        </div>
                        <div *ngIf="item?.notificationType === 'Expense Request'" class="icon" [class.text-info]="item?.notificationType === 'Expense Request'">
                            <app-icon [iconName]="'wallet'" [iconWidth]="28" [iconHeight]="28"></app-icon>
                        </div>
                        <div *ngIf="item?.notificationType === 'Appraisal Reviewed'" class="icon" [class.text-success]="item?.notificationType === 'Appraisal Reviewed'">
                            <app-icon [iconName]="'medalStar'" [iconWidth]="28" [iconHeight]="28"></app-icon>
                        </div>
                        <div class="content">
                            <div class="det">
                                <div class="major font-regular">{{item.notificationContent}}</div>
                                <div class="minor d-flex align-items-center justify-content-between mt-1"><span>{{item.createdAt | timeDuration}}</span></div>
                                <!-- <div *ngIf="request.type == 'expense'" class="minor">NGN {{request.amount.toLocaleString()}} - {{request.expenseTypeName}}</div> -->
                            </div>
                        </div>
                    </ng-container>
                </div>                
            </div>
        </mat-menu>
        <span [routerLink]="['./', 'human-resources', 'general-settings']" class="icon">
            <app-icon [iconName]="'settings'" [iconWidth]="24" [iconHeight]="24" title="Settings"></app-icon>
        </span>
        <div class="user">
            <div class="info align-items-end">
                <span>{{userName}}</span>
                <span class="text">{{userRole}}</span>
            </div>
            <div class="photo bkg-standard" style="background-image: url('{{profilePhoto}}');"></div>
        </div>
    </div>
</div>