@import 'src/assets/styles/base/mixins';

.login-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .col-wrap {
        width: 50%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background: var(--bkg-1);

        &:first-child {
            padding: 1rem;
        }

        .overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            //background-color: rgba(0, 0, 0, 0.5);
            //background: rgba(0, 0, 0, 0.5);
            left: 0;
            top: 0;
            z-index: 2;
        }
    }
}

.footer-img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;

    img {
        width: 100%;
        height: auto;
    }
}

.media-wrap {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: var(--radius-mmd);
    background-color: var(--primary);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        //background-color: rgba(0, 0, 0, 0.5);
        background: linear-gradient(to bottom,  rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
        left: 0;
        top: 0;
        z-index: 2;
    }

    .slide {
        width: 100%;
        height: 100%;
        display: none;
        position: relative;
        transition: all 0.4s ease;
        //opacity: 1;

        &.image-active {
            display: block;
        }

        img {
            width: 100%;
            height: 100%;
            display: inline-block;
            object-fit: cover;
            transition: all 0.4s ease;
            position: relative;
            opacity: 1;
            z-index: 1;
        }

        .caption {
            width: 75%;
            font-size: 1.5rem;
            font-weight: 500;
            letter-spacing: 0.04rem;
            line-height: 1.2;
            position: absolute;
            text-align: center;
            text-transform: capitalize;
            transform: translateX(-50%);
            bottom: 15%;
            left: 50%;
            //color: white;
            z-index: 3;
        }
    }

    .dots {
        width: auto;
        height: auto;
        display: flex;
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        bottom: 10%;
        z-index: 2;
        gap: 0.6rem;

        span {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: white;
            transition: all 0.5s ease;
            cursor: pointer;

            &:hover {
                background-color: var(--white-tint);
            }

            &.active {
                background-color: var(--primary);
            }
        }
    }
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}


.page-wrap {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    background: white;

    @include screen-media-min(md) {
        padding: 2rem;
    }

    .inner-wrap {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        //background: var(--primary-light);
        //background: radial-gradient(circle at top, #4285f4 , #9bc4d9);
        //padding: 2rem;
        border-radius: 0;

        @include screen-media-min(md) {
            border-radius: var(--radius-lg);
        }

        .main-container {
            width: 100%;
            height: 100%;
            display: grid;
            overflow: hidden;
            grid-template-columns: 1fr;
            border-radius: 0;

            @include screen-media-min(md) {
                //grid-template-columns: 1fr 2fr;
                border-radius: var(--radius-lg);
            }

            @include screen-media-min(lg) {
                //grid-template-columns: 1fr 1.2fr;
                border-radius: var(--radius-lg);
            }

            .col-sec {
                height: 100%;
                position: relative;
                overflow: hidden;
                padding: 1rem;

                &:first-child {
                    //display: none;
                    padding: 1rem;
                    //background: var(--primary);

                    @include screen-media-min(md) {
                        display: block;
                        padding: 1rem 7rem;
                    }

                    @include screen-media-min(xxl) {
                        padding: 4rem 7rem;
                    }

                    h1 {
                        font-size: 3.2rem;
                        letter-spacing: 0.02rem;
                        color: white;
                        font-family: var(--font-bold);
                        // text-shadow: 4px 1px 16px rgba(66, 68, 90, 0.69);
                        //text-shadow: 4px 1px 16px var(--primary);
                    }

                    h2 {
                        font-size: 1.5rem;
                        letter-spacing: 0.02rem;
                        color: white;
                        font-family: var(--font-medium);
                        text-shadow: 4px 1px 16px var(--primary);
                    }

                    .image {
                        width: auto;
                        height: 67vh;
                        position: absolute;
                        bottom: 0;
                        left: 10%;
                        
                        img {
                            width: auto;
                            height: 100%;
                            -webkit-transform: scaleX(-1);
                            transform: scaleX(-1);
                        }
                    }
                }

                &:last-child {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0;

                    @include screen-media-min(md) {
                        padding: 3rem;
                    }

                    @include screen-media-min(xxxl) {
                        padding: 7rem;
                    }
                    
                    .login-container {
                        width: 100%;
                        height: 100%;
                        border: 2px solid var(--bkg-1);
                        border-radius: 0;
                        /* From https://css.glass */
                        background: rgba(255, 255, 255, 0.15);
                        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                        backdrop-filter: blur(5px);
                        -webkit-backdrop-filter: blur(5px);
                        border: 1px solid rgba(255, 255, 255, 0.2);

                        @include screen-media-min(md) {
                            border-radius: var(--radius-lg);
                        }
                    }
                }
            }
        }

        .login-container {
            height: auto;
            display: flex;
            overflow: hidden;
            text-align: center;
            padding: 5rem 0 4rem;
            // background-color: white;
            flex-direction: column;
            justify-content: center;
            margin: 0 auto;
            align-items: center;
            position: relative;
            z-index: 3;
            // color: white;

            @include screen-media-min(md) {
                padding: 2rem 0 4rem;
            }
        
            .logo {
        
                img {
                    width: 5rem;
                    height: auto;
                }
            }
        
            .intro {
                color: black;
        
                .heading {
                    font-size: 1.5rem;
                    font-family: var(--font-bold);

                    @include screen-media-min(md) {
                        font-size: 1.7rem;
                    }
        
                    span {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 0.6rem;
                    }
        
                    img {
                        width: auto;
                        height: 3rem;
                        margin-bottom: 0.8rem;
                    }
                }
        
                .preamble {
                    width: 100%;
                    font-size: 1rem;
                    font-family: var(--font-regular);
                    letter-spacing: 0.03rem;
                    margin: 0 auto;
                }
        
            }
        
            .form-hld {
                width: 100%;
                font-family: var(--font-regular);
        
                .input-hld {
                    width: 100%;
                    position: relative;
                    text-align: left;
        
                    input {
                        width: 100%;
                        font-size: 1rem;
                        border-radius: var(--radius-md);
                        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                        font-family: var(--font-regular);
                        letter-spacing: 0.04rem;
                        position: relative;
                        background-color: white;
                        //margin-bottom: 1.5rem;
                        color: var(--darker);
                    }
        
                    .text-danger, .text-success {
                        letter-spacing: 0.03rem;
                        padding-left: 0.2rem;
                    }
                    // @include screen-media-min($md) {
                    //     width: 48.5%;
                    // }
        
                    .eyePass {
                        cursor: pointer;
                        position: absolute;
                        right: 7%;
                        top: 0.7rem;
        
                        i {
                            font-size: 1rem;
                        }
                    }
                }
        
                .forgot {
                    line-height: 1;
                    text-align: right;
                    margin-top: 0.6rem;
                    letter-spacing: 0.03rem;
                    color: var(--primary);
        
                    span {
                        cursor: pointer;
                    }
                }
        
                .btn-hld {
                    width: 100%;
        
                    .cta {
                        width: 100%;
                        outline: none;
                        font-weight: 600;
                        letter-spacing: 0.06rem;
                        text-transform: uppercase;
                        box-shadow: var(--card-shadow);
                        border: none;
                        margin-top: 1.5rem;
                        gap: 0.2rem;
                    }
        
                    p {
                        letter-spacing: 0.04rem;
                        color: var(--black-tint);
                        margin-top: 0.7rem;
                        color: var(--darker);

                        @include screen-media-min(md) {
                            margin-top: 1rem;
                        }
        
                        span {
                            color: var(--primary-dark);
                            cursor: pointer;
                        }
                    }
                }
        
                .disclaimer {
                    font-size: 0.85rem;
                    letter-spacing: 0.03rem;
                    color: var(--black-tint);
                    color: var(--darker);
                    margin-top: 1.3rem;
        
                    i {
                        color: var(--approved);
                        margin-right: 0.2rem;
                    }
        
                    a {
                        color: var(--primary);
                    }
                }
        
                
            }
        }

        form {
            width: 90%;
            max-width: 30rem;
            margin: 2rem auto 0;

            @include screen-media-min(md) {
                width: 70%;
            }
        }
    }

}


// -----------------------------------------------
// Globe css styles
// -----------------------------------------------

.orbit-wrap {
    width: 100%;
    height: 17rem;
    position: relative;

    @include screen-media-min(md) {
        height: 20rem;
    }

    &.sm {
        height: 4rem;

        .digital-ball {
            height: 4rem;

            .globe {
                width: 4rem;
                height: 4rem;
                top: 17%;

                @include screen-media-min(md) {
                    width: 4.5rem;
                    height: 4.5rem;
                }
            }
        }
    }

    .digital-ball {
        width: 100%;
        height: 17rem;
        //border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        //overflow: hidden;

        @include screen-media-min(md) {
            height: 20rem;
            top: 0;
            left: 0;
            transform: unset;
        }

        .overlay {
            opacity: 0;
            transition: opacity 1s ease-in-out;
            animation: digitalball 6s ease-in-out infinite;
        }

        .globe {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 11rem;
            height: 11rem;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            overflow: hidden;
            will-change: transform;

            @include screen-media-min(md) {
                width: 15rem;
                height: 15rem;
                left: 20%;
            }

            .globe-wrap {
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                position: absolute;
                display: block;
                border-radius: 50%;
                transform: translate(-50%, -50%) rotate(30deg);
                animation: globe 5.4s cubic-bezier(0.35, 0, 0.65, 1) infinite;
                overflow: hidden;
                box-shadow: inset 0px 0px 0px .125em var(--globe-color);
            }
        }
    }
}

.globe .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: inset .1em 0px 0px .08em var(--globe-color);
    animation: circle1 2.7s linear infinite;
    font-size: .75em;
}

.globe .circle-hor {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 55%;
    box-shadow: inset 0px 0px 0px .15em var(--globe-color);
    font-size: .75em;
}

.globe .circle-hor-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    transform: translate(-50%, -50%);
    border-radius: 0%;
    height: .15em;
    background: var(--globe-color);
    font-size: .75em;
}

.line-globe .digital-ball:hover .overlay {
    opacity: 1;
}

.globe :nth-child(1) {
    animation-delay: -1.8s;
}

.globe :nth-child(2) {
    animation-delay: -.9s;
}

@keyframes globeBounce {
    0% {
        transform: translate(-50%, -40%);
    }
    50% {
        transform: translate(-50%, -60%);
    }
    100% {
        transform: translate(-50%, -40%);
    }
}

@keyframes globe {
    0%   {transform: translate(-50%, -50%) rotate(15deg); }
    50%   {transform: translate(-50%, -50%) rotate(-15deg);}
    100% {transform: translate(-50%, -50%) rotate(15deg);}
}

@keyframes circle1 {
    0%   {border-radius: 50%; box-shadow: inset .1em 0px 0px .08em var(--globe-color); width: 100%; }
    49%  {border-radius: 50%; box-shadow: inset .1em 0px 0px .08em var(--globe-color); background: transparent;}
    50%  {border-radius: 0%; width: .175em; background: var(--globe-color);}
    51%  {border-radius: 50%; box-shadow: inset -.1em 0px 0px .08em var(--globe-color); background: transparent;}
    100% {border-radius: 50%; box-shadow: inset -.1em 0px 0px .08em var(--globe-color); width: 100%;}
}

@media screen and (max-width: 1000px) {

    .digital-ball {
        transform: translate(-20%, -50%);
    }

}

// -----------------------------------------------
// Globe css styles
// -----------------------------------------------
