.create-details {
    p {
        font-size: 0.75rem;
        font-family: var(--font-regular);
        letter-spacing: 0.03rem;
        color: var(--darker);
        margin-bottom: 0;
    }
}

.cumulative {
    font-size: 0.8rem;
    font-family: var(--font-regular);
    letter-spacing: 0.03rem;
    padding: 0.5rem 1rem;
    border-radius: var(--radius-sm);
    background-color: var(--primary-light);
    color: var(--darker);
    margin-bottom: 1.5rem;

    .pay-hld {
        display: flex;
        flex-direction: column;
        gap: 0.1rem;

        .label {

        }

        .amount {
            color: var(--primary);

            &.deduction {
                color: var(--warning);
            }

            &.earning {
                color: var(--approved);
            }
        }
    }
}