.categories-wrap {
    justify-content: space-between;
}

.form-check {
    width: 48%;
    font-family: var(--font-regular);
    padding: 0.4rem 0 0.35rem;
    border-radius: 6px;

    // &.events {
    //     background: var(--primary-light);
    // }

    // &.meetings {
    //     background: var(--pending-light);
    // }

    // &.holidays {
    //     background: var(--considered-light);
    // }

    // &.leave {
    //     background: var(--approved-light);
    // }

    .form-check-label {
        width: 100%;

        span {
            cursor: pointer;
            color: var(--black-tint);
            letter-spacing: 0.02rem;
        }

        input[type=checkbox] {
            appearance: none;
            opacity: 0;
        }

        .check-wrap {
            width: 100%;
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5rem;
            cursor: pointer;
            border-radius: var(--radius-md);
            border: 1px solid var(--primary-light);
            background-color: transparent;
            transition: all 0.4s ease;
            gap: 1rem;
            
            .icon {
                //color: var(--primary);
                transition: all 0.4s ease;
            }

            span {
                font-family: var(--font-medium);
                white-space: nowrap;
                transition: all 0.4s ease;
            }
        }

        input:checked[type=checkbox] {

            & + .check-wrap {
                background: var(--approved-lightest);
                border: 3px solid var(--approved);

                .icon {
                    //color: white;
                }

                span {
                    
                }
            }
        }
    }
}