.status-summary {
    height: 8.5rem;
}

.row-card {

    .hdr {
        .card-title {
            font-size: 0.95rem;
            letter-spacing: 0.03rem;
        }
        .preamble {
            font-size: 0.8rem;
            font-family: var(--font-regular);
            letter-spacing: 0.04rem;
            color: var(--text-grey);
            margin-top: 0.2rem;
        }

        .actions-info {

            .dropdown-trigger {
                width: 10rem;
                display: inline-flex;
                justify-content: space-between;
                align-items: center;
                font-size: 0.75rem;
                letter-spacing: 0.03rem;
                padding: 0.2rem 0.7rem;
                border-radius: var(--radius-xs);
                transition: var(--transition-norm);
                border: 1px solid var(--border-black-lightest);
                cursor: pointer;

                i {
                    margin-left: 0.6rem;
                }
            }
        }

        .legend {
            flex-wrap: wrap;

            &.general {
                gap: 0.1rem 1rem;

                li {
                    font-size: 0.72rem;
                    font-family: var(--font-regular);
                    white-space: nowrap;
                    letter-spacing: 0.02rem;
                    color: var(--black-tint);
                    padding-left: 1rem;
                    position: relative;

                    &.complete {

                        &:before {
                            background: var(--approved);
                        }
                    }

                    &.pending {

                        &:before {
                            background: var(--pending);
                        }
                    }

                    &.warning {

                        &:before {
                            background: var(--warning);
                        }
                    }

                    &.awaiting {

                        &:before {
                            background: var(--primary);
                        }
                    }

                    &.contacts {

                        &:before {
                            background: #9370DB;
                        }
                    }

                    &.leads {
                        &:before {
                            background: #87CEFA;
                        }
                    }

                    &:before {
                        content: '';
                        width: 0.6rem;
                        height: 0.6rem;
                        border-radius: 50%;
                        position: absolute;
                        transform: translateY(-50%);
                        left: 0;
                        top: 50%;
                    }
                }
            }
        }
    }
}

.mat-menu-panel {
    width: 14rem;
    max-width: 18rem;
    margin-top: 0.3rem;
    border: 1px solid var(--black-tint-sm);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    background-color: white !important;
    color: var(--darker);

    &.more {
        width: 10rem;
    }

    .mat-menu-content {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    } 

    .mat-menu-item {
        width: 100%;
        height: 35px;
        display: inline-flex;
        align-items: center;
        font-size: 0.7rem;
        font-family: var(--font-regular);
        letter-spacing: 0.01rem;
        color: var(--darker);
        transition: all 0.4s ease-in;

        &:hover {
            background-color: var(--primary-light);
        }

        &:nth-child(n+2) {
            border-top: 1px solid var(--black-tint-sm);
        }
    }
}

.guage-chart {
    margin-top: 2rem;
    position: relative;
    font-family: var(--font-medium);

    .nav-actions {
        position: absolute;
        bottom: 1rem;

        .action {
            font-size: 1rem;
            font-weight: 700;
            letter-spacing: 0.03rem;

            i {
                cursor: pointer;
            }
        }

        .info {
            font-size: 0.85rem;
            letter-spacing: 0.03rem;
            color: var(--text-grey);
            margin-top: 0.5rem;
        }
    }

}