.remove-card {
    width: 75%;
    height: auto;
    margin: auto;
    padding: 4vh 5%;
    border-radius: var(--radius-sm);
    box-sizing: border-box;
    //border: 1px solid #dadee2;
    //box-shadow: 0 0 4px 4px rgb(224 224 224 / 30%);
    background: white;
  
    .card-title {
        font-size: 0.9rem;
        color: var(--warning);
        font-family: var(--font-bold);
        margin-bottom: 2vh;
        padding-bottom: 2vh;
        letter-spacing: 0.01rem;
        border-bottom: 1px solid #e8edf2;
    }
  
    .card-details {
        margin: 2vh 0 4vh;
        color: var(--darker);
        font-family: var(--font-regular);
  
        p {
            font-size: 0.85rem;
            line-height: 1.5;
            letter-spacing: 0.01rem;
        }
    }
  
    .btn-actions {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
  
    //   .wht-bkg {
    //     button {
    //       background-color: #fff;
    //       color: #5a5b5c;
    //     }
    //   }
  
    //   .clr-bkg {
    //     button {
    //       background-color: va;
    //       color: #fff;
    //     }
    //   }
  
    //   button {
    //     border-radius: 5px;
    //     border: 1px solid #dadee2;
    //     padding: 7px 12px;
    //     outline: none;
  
    //     &:hover {
    //       cursor: pointer;
    //     }
    //   }
    }
}


.info-card {

    .inner-wrap {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .bkg {
            width: 100%;
            height: 10rem;
            top: 0;
            left: 0;
            position: absolute;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        img {
            width: auto;
            height: 12rem;

            &.rd {
                height: 7rem;
            }
        }
    }
}

::ng-deep .mat-dialog-container {
    box-shadow: none;
    background-color: transparent;
}