.card-det {
    position: relative;

    .delete-icon {
        font-size: 0.8rem;
        position: absolute;
        top: 0.5rem;
        right: 0.8rem;
        color: var(--warning);
        z-index: 5;
    }

    .card-image {
        width: 100%;
        height: 10rem;
        border-radius: 0.5rem 0.5rem 0 0;
        box-shadow: var(--card-shadow);
        position: relative;
        overflow: hidden;

        .photo {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }

        .overlay {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.3);
            position: absolute;
            z-index: 2;
            left: 0;
            top: 0;
        }

        .image-chip {
            width: fit-content;
            position: absolute;
            line-height: 1;
            font-size: 0.6rem;
            letter-spacing: 0.03rem;
            border-radius: 1rem;
            font-family: var(--font-regular);
            //box-shadow: var(--card-shadow);
            background: var(--primary-sub);
            padding: 0.3rem 0.7rem;
            //color: white;
            // backdrop-filter: blur(5px);
            // -webkit-backdrop-filter: blur(5px);
            left: 0.8rem;
            bottom: 0.8rem;
            z-index: 2;
        }
    }

    .card-info {
        background: white;
        padding: 0.8rem 1rem;

        .name {
            height: 3rem;
            font-size: 0.9rem;
            letter-spacing: 0.03rem;
            font-family: var(--font-medium);
        }

        .chip {
            width: fit-content;
            line-height: 1;
            font-size: 0.7rem;
            letter-spacing: 0.03rem;
            border-radius: var(--radius-sm);
            font-family: var(--font-regular);
            background: var(--primary-light);
            padding: 0.35rem 0.7rem;
        }

        .param-wrap {
            display: flex;
            gap: 1.2rem;

            .info-hld {
                font-size: 0.7rem;
                letter-spacing: 0.04rem;
                font-family: var(--font-regular);
                white-space: nowrap;

                .icon {

                    &.approved {
                        color: var(--approved);
                    }

                    &.pending {
                        color: var(--pending);
                    }

                    &.warning {
                        color: var(--warning);
                    }
                }
            }
        }
    }
}