<div class="create-card">
    <div class="top-card">
        <div class="inner-wrap">
            <!-- <div class="hdr-title">
                <div class="create-title">Create New Employee</div>

                
            </div> -->
            <div class="hdr-details">
                <div class="inner-wrap">
                    <div class="create-icon">
                        <span class="icon">
                            <div class="date">
                                <span>10</span> <span>Feb</span>
                            </div>
                            <div class="time mt-2">12:34 PM</div>
                            <!-- <app-icon [iconName]="'shieldDoc'" [iconWidth]="50" [iconHeight]="50"></app-icon> -->
                        </span>
                        <!-- <img src="../../../../assets/images/illustrations/puzzle.png" /> -->
                    </div>
                    <div class="create-details">
                        <div class="create-name">System Maintenance Scheduled</div>
                        <!-- <div class="status approved w-auto d-inline-block sm">Resolved</div> -->
                        <!-- <p>The first step is to complete your business information.</p> -->
                    </div>
                    <div (click)="dialogRef.close()" class="close-btn">&times;</div>
                    <!-- <div *ngIf="isUpdateCustomer" class="create-details">
                        <div class="create-name">{{firstName}} {{lastName}}</div>
                        <div class="create-id">Customer ID: {{customerId}}</div>
                    </div> -->
                </div>
                <div class="hdr-overlay"></div>
            </div>
            
        </div>
    </div>

    <div class="bottom-card">
        <div class="featured-image"></div>
        <div class="content mt-4">We will be performing system maintenance on Saturday from 10:00 PM to 12:00 AM. During this time, some services may be unavailable.</div>
        <div class="author my-4">
            <div class="image"></div>
            <div class="info">
                <span>Adam Pegasus</span>
            </div>
        </div>
    </div>
</div>