
.date {
    width: 3rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    padding: 0.3rem;
    border: 1px solid var(--primary-lighter);
    background: var(--primary-light);

    span {
        font-size: 0.85rem;
        font-family: var(--font-bold);
        display: inline-block;

        &:first-child {
            font-size: 1rem;
        }
    }
}

.time {
    font-size: 0.65rem;
    font-family: var(--font-regular);
    letter-spacing: 0.03rem;
    line-height: 1;
    color: var(--black-tint);
}


.featured-image {
    width: 100%;
    height: 15rem;
    background: black;
    border-radius: 0.4rem;
    margin-top: 0.4rem;
}

.content {
    font-size: 0.85rem;
    line-height: 1.5;
    letter-spacing: 0.03rem;
    font-family: var(--font-regular);
}

.author {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    .image {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background: black;
    }

    .info {
        flex: 1;
        display: inline-flex;
        flex-direction: column;
        gap: 0.2rem;
        
        span {
            font-size: 0.65rem;
            font-family: var(--font-regular);
            letter-spacing: 0.03rem;
            line-height: 1;
            color: var(--black-tint);

            &:first-child {
                font-size: 0.75rem;
                font-family: var(--font-medium);
                color: black;
            }
        }
    }

}