
.cont {
    
    &.rd-pd {
        padding: 0.7rem !important;
    }

    .info {
    
        &.major {
            display: flex;
            padding: 1.2rem 0;
            border-radius: var(--radius-md);
            background: var(--primary-lightest);
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            .image {
                width: 7rem;
                height: 7rem;
                padding: 1rem;
                border-radius: 50%;
                background-color: white;
                box-shadow: var(--card-shadow);
            }

            .det {
                width: 100%;
                text-align: center;

                .name {
                    font-size: 0.9rem;
                    font-family: var(--font-bold);
                    letter-spacing: 0.03rem;
                }

                .role {
                    font-size: 0.8rem;
                    font-family: var(--font-regular);
                    letter-spacing: 0.03rem;
                }

                .contact {
                    width: 90%;
                    display: flex;
                    margin: 1rem auto 0;
                    flex-direction: column;
                    border-radius: var(--radius-sm);

                    .info {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 0.7rem;
                        color: var(--black-tint);
                        background: white;
                        border-radius: 1rem;
                        padding: 0.2rem;
                        font-family: var(--font-regular);
                        font-size: 0.75rem;
                        letter-spacing: 0.03rem;

                        .icon {
                            color: var(--primary);
                        }
                    }
                }
            }
        }
    
        &.minor {
            
            .listed-items {

                .item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 1rem 0.7rem;
                    margin: 0;

                    &:nth-child(n+2) {
                        border-top: 1px solid var(--border-grey-md);
                    }

                    .label {
                        font-size: 0.8rem;
                        font-family: var(--font-medium);
                        letter-spacing: 0.03rem;
                        color: var(--black-tint);
                    }

                    .text {
                        font-size: 0.8rem;
                        font-family: var(--font-regular);
                        letter-spacing: 0.03rem;
                        //color: var(--black-tint);
                    }
                }
            }
        }
    }
}
