<div class="create-card">
    <div class="top-card">
        <div class="inner-wrap">
            <!-- <div class="hdr-title">
                <div class="create-title">Create New Employee</div>

                
            </div> -->
            <div class="hdr-details">
                <div class="inner-wrap">
                    <div class="create-icon">
                        <span class="icon">
                            <app-icon [iconName]="'box'" [iconWidth]="50" [iconHeight]="50"></app-icon>
                        </span>
                        <!-- <img src="../../../../assets/images/illustrations/equalizer.png" /> -->
                    </div>
                    <div class="create-details">
                        <div *ngIf="!data.isExisting" class="create-name">Create Product Category</div>
                        <!-- <div *ngIf="data.isExisting" class="create-name">Edit KPI</div> -->
                    </div>
                    <div (click)="dialogRef.close()" class="close-btn">&times;</div>
                </div>
                <div class="hdr-overlay"></div>
            </div>
            
        </div>
    </div>

    <div class="bottom-card">
        <div class="form-wrap clearfix">
            <div class="form-hld">

                <form [formGroup]="categoryForm" class="form-container px-3" style="font-size: 0.8rem;">

                    <ng-container class="d-flex" *ngFor="let field of categoryFields">
                        <ng-container [ngSwitch]="field.controlType">

                            <mat-form-field *ngSwitchCase="'text'" class="mb-lg-2" [style.width]="field.controlWidth" appearance="outline">
                                <mat-label class="text-capitalize">{{field.controlLabel}}</mat-label>
                                <input matInput [formControlName]="field.controlName">
                                <mat-error *ngIf="categoryForm.get(field.controlName)?.hasError('required')">{{field.controlLabel}} is required</mat-error>
                            </mat-form-field>

                            <mat-form-field *ngSwitchCase="'textarea'" class="mb-lg-1" [style.width]="field.controlWidth" appearance="outline">
                                <mat-label>{{field.controlLabel}}</mat-label>
                                <textarea type="field.controlType" rows="2" matInput [formControlName]="field.controlName"></textarea>
                            </mat-form-field>

                        </ng-container>
                    </ng-container>

                    <div class="btn-hld d-flex justify-content-end mt-lg-3" style="width: 100%">
                        <div (click)="onSubmit()" class="cta primary-bkg mmd text-uppercase" style="min-width: 30%" type="submit">Submit</div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>