<div class="content-wrap details-list">

    <div class="row-section">
        <div class="row-card w-100 card-xlg card-yxl">
            <div class="inner-row w-100 d-flex justify-content-between align-items-center">
                <div class="card-title md">Supplier Information</div>
                <button *ngIf="supplierDetails" (click)="editSupplierInfo()" class="edit cta quick trans-bkg md">Edit Info</button>
            </div>
        </div>
    </div>

    <div class="row-section">
        <div class="inner-row-hld d-flex justify-content-between">
            <div class="info-wrap mt-lg-4">
                <div class="info-list space">
                    <!-- <div class="info tri">
                        <span class="label">Birthday:</span>
                        <span *ngIf="!employeeDetails?.dateOfBirth">-</span>
                        <span *ngIf="employeeDetails?.dateOfBirth" class="text">{{strToDate(employeeDetails?.dateOfBirth) | date: 'd MMMM, y'}}</span>
                    </div> -->

                    <div class="info tri">
                        <span class="label">Contact Person:</span>
                        <span class="text">{{supplierDetails?.contactPersonName ? supplierDetails?.contactPersonName : '-'}}</span>
                    </div>

                    <div class="info duo">
                        <span class="label">Phone Number:</span>
                        <span class="text">{{supplierDetails?.phone ? supplierDetails?.phone : '-'}}</span>
                    </div>

                    <div class="info tri">
                        <span class="label">City:</span>
                        <span class="text">{{supplierDetails?.address.city ? supplierDetails?.address.city : '-'}}</span>
                    </div>

                    <div class="info tri">
                        <span class="label">Country:</span>
                        <span class="text">{{supplierDetails?.address.country ? supplierDetails?.address.country : '-'}}</span>
                    </div>

                    <div class="info tri">
                        <span class="label">Zip Code:</span>
                        <span class="text">{{supplierDetails?.address.zipCode ? supplierDetails?.address.zipCode : '-'}}</span>
                    </div>

                    <div class="info w-100">
                        <span class="label">Address:</span>
                        <span class="text">{{supplierDetails?.address.street}}, {{supplierDetails?.address.city}}, {{supplierDetails?.address.country}}</span>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>