
.sidenav-container {
    width: 0;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    background-color: rgba($color: #000000, $alpha: 0.3);
    right: 0;
    top: 0;
    z-index: 7;

    &.opened {
        width: 100%;
    }

    .sidenav-bkg {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
    }

    .sidenav-content {
        width: 0;
        opacity: 0;
        height: 100%;
        overflow: scroll;
        position: absolute;
        background-color: white;
        transition: all 0.7s ease;
        -webkit-box-shadow: -20px 0 25px -10px rgba(0,0,0,0.2);
        box-shadow: -20px 0 25px -10px rgba(0,0,0,0.2);
        right: 0;
        top: 0;
        z-index: 3;

        &.opened {
            opacity: 1;
            width: 50%;
        }
    }
}


.accordion {

    .accordion-item {
        background-color: white;
        border: 1px solid var(--primary-light);
        box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.09);
        border-radius: var(--radius-md);

        &:nth-child(n+2) {
            margin-top: 1rem;
        }

        .accordion-header {
            border: none;
            
            .accordion-button {
                display: flex;
                align-items: center;
                font-size: 0.85rem;
                letter-spacing: 0.02rem;
                background-color: transparent;
                padding: 1.1rem 3%;

                &::after {
                    display: none;
                    background-size: 70%;
                }

                &:focus {
                    outline: none;
                    box-shadow: none;
                }

                .name {
                    font-size: 0.9rem;
                    font-family: var(--font-bold);
                    color: var(--black);
                }

                .range {
                    font-size: 0.8rem;
                    font-family: var(--font-medium);
                    margin-left: 2rem;
                    color: var(--black-tint);
                }

                .actions {
                    margin-left: auto;

                    .icon {

                        &.delete {
                            color: var(--warning);
                        }
                    }
                }
            }
        }

        .accordion-body {
            padding: 0 3%;

            // .role-wrap {
            //     width: 100%;
            //     display: flex;
            //     padding-bottom: 0.4rem;
            //     box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.09);

            //     .role-hld {
            //         width: 10%;
            //         display: inline-flex;
            //         justify-content: center;
            //         font-size: 0.75rem;
            //         letter-spacing: 0.02rem;
            //         font-family: var(--font-regular);

            //         &:first-child {
            //             width: 40%;
            //         }
            //     }
            // }

            // .features-wrap {
            //     height: auto;
            //     max-height: 20rem;
            //     overflow-y: auto;

            //     &::-webkit-scrollbar,
            //     &::-webkit-scrollbar-track {
            //         display: none;
            //     }

            //     .feature-hld {

            //         &:nth-child(n+2) {
            //             margin-top: 1rem;
            //         }

            //         .feature-hdr {
            //             font-size: 0.8rem;
            //             letter-spacing: 0.02rem;
            //             font-family: var(--font-medium);
            //             border-radius: var(--radius-sm);
            //             padding: 0.3rem 1rem;
            //             background: var(--primary-lightest);
            //         }

            //         .permissions-wrap {
            //             display: flex;
            //             flex-direction: column;
            //             margin-top: 0.8rem;
            //             gap: 1rem;

            //             .permission-hld {
            //                 width: 100%;
            //                 display: flex;
            //                 padding: 0 1rem;

            //                 .permission-col {
            //                     width: 10%;
            //                     font-size: 0.8rem;
            //                     letter-spacing: 0.02rem;
            //                     font-family: var(--font-regular);
            //                     color: var(--black-tint);
            //                     display: inline-flex;
            //                     justify-content: center;

            //                     &:first-child {
            //                         width: 40%;
            //                         justify-content: flex-start;
            //                     }
            //                 }
            //             }
            //         }
            //     }
            // }
            
        }
    }
}