.stepper-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .step-trail {
        width: 93%;
        height: 0.45rem;
        line-height: 1;
        background: var(--primary-sub);
        transform: translateX(-50%);
        position: absolute;
        left: 50%;
        top: 1.3rem;
        z-index: 1;

        .track,
        .track-pending {
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        .track {
            z-index: 3;
            background: var(--approved);
        }

        .track-pending {
            z-index: 2;
            background: var(--pending);
        }
    }

    .step-hld {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        gap: 0.5rem;
        z-index: 4;

        &.done {

            span {
                color: var(--approved);

                &.icon {
                    border: 0.3rem solid var(--approved);
                    color: var(--approved);
                }
            }
        }

        &.active {

            span {
                color: var(--pending);

                &.icon {
                    border: 0.3rem solid var(--pending);
                    color: var(--pending);
                }
            }
        }

        span {
            font-size: 0.9rem;
            letter-spacing: 0.03rem;
            font-family: var(--font-medium);

            &.icon {
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border: 0.3rem solid var(--primary-sub);
                background: white;
                padding: 0.7rem 0.5rem 0.5rem 0.7rem;
                color: var(--primary);

                app-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}