.page-wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    // background-image: linear-gradient(
    //     120deg,
    //     hsl(240deg 24% 94%) 0%,
    //     hsl(239deg 43% 95%) 13%,
    //     hsl(237deg 72% 96%) 25%,
    //     hsl(238deg 90% 96%) 37%,
    //     hsl(242deg 68% 96%) 50%,
    //     hsl(247deg 54% 95%) 63%,
    //     hsl(246deg 44% 95%) 75%,
    //     hsl(243deg 35% 95%) 87%,
    //     hsl(240deg 26% 95%) 100%
    // );

    .main-page {
        height: calc(100vh - var(--hdr-height));
        flex: 1;

        .notice-strip {
            width: 100%;
            margin: 0 auto;
            background: var(--grey-lighter-tint);

            .inner {
                width: 92%;
                margin: 0 auto;
                font-size: 0.8rem;
                letter-spacing: 0.03rem;
                font-family: var(--font-regular);
                padding: 0.3rem 1rem;
                border-radius: 0.3rem;
                border: 1px solid rgba(#eb5757, 0.4);
                background: rgba(#eb5757, 0.2);
                color: var(--black-tint);

                .hide {
                    font-size: 1.1rem;
                    display: inline-block;
                    margin-left: auto;
                    color: var(--warning);
                    cursor: pointer;
                }
            }
        }
    }
}