.page-wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    // background-image: linear-gradient(
    //     120deg,
    //     hsl(240deg 24% 94%) 0%,
    //     hsl(239deg 43% 95%) 13%,
    //     hsl(237deg 72% 96%) 25%,
    //     hsl(238deg 90% 96%) 37%,
    //     hsl(242deg 68% 96%) 50%,
    //     hsl(247deg 54% 95%) 63%,
    //     hsl(246deg 44% 95%) 75%,
    //     hsl(243deg 35% 95%) 87%,
    //     hsl(240deg 26% 95%) 100%
    // );

    .main-page {
        height: calc(100vh - var(--hdr-height));
        flex: 1;
    }
}