<div class="page-wrap">
    <div class="menu-sec">
        <app-menu *ngIf="userDetails" [userDetails]="userDetails"></app-menu>
    </div>
    <div class="main-page">
        <div class="header">
            <app-header *ngIf="userDetails" [userDetails]="userDetails"></app-header>
        </div>
        <div class="main-page">
            <div *ngIf="showGeneralNotice" class="notice-strip">
                <div class="inner d-flex">We will be performing system maintenance on Saturday from 10:00 PM to 12:00 AM. During this time, some services may be unavailable. <span (click)="showGeneralNotice = false" class="hide">&times;</span></div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
