<div class="create-card">
    <div class="top-card">
        <div class="inner-wrap">
            <!-- <div class="hdr-title">
                <div class="create-title">Create New Employee</div>

                
            </div> -->
            <div class="hdr-details">
                <div class="inner-wrap">
                    <div class="create-icon">
                        <span class="icon">
                            <app-icon [iconName]="'shieldDoc'" [iconWidth]="50" [iconHeight]="50"></app-icon>
                        </span>
                        <!-- <img src="../../../../assets/images/illustrations/puzzle.png" /> -->
                    </div>
                    <div class="create-details">
                        <div *ngIf="!data.isExisting" class="create-name">Message Support</div>
                        <div *ngIf="data.isExisting" class="create-name">Edit Branch</div>
                        <!-- <div class="status approved w-auto d-inline-block sm">Resolved</div> -->
                        <!-- <p>The first step is to complete your business information.</p> -->
                    </div>
                    <div (click)="dialogRef.close()" class="close-btn">&times;</div>
                    <!-- <div *ngIf="isUpdateCustomer" class="create-details">
                        <div class="create-name">{{firstName}} {{lastName}}</div>
                        <div class="create-id">Customer ID: {{customerId}}</div>
                    </div> -->
                </div>
                <div class="hdr-overlay"></div>
            </div>
            
        </div>
    </div>

    <div class="bottom-card">
        <div class="form-wrap clearfix">
            <div class="form-hld">

                <form [formGroup]="form" class="form-container px-3" style="font-size: 0.85rem;">

                    <ng-container class="d-flex" *ngFor="let field of fieldData">
                        <ng-container [ngSwitch]="field.controlType">

                            <mat-form-field *ngSwitchCase="'text'" class="mb-lg-2" [style.width]="field.controlWidth" appearance="outline">
                                <mat-label class="text-capitalize">{{field.controlLabel}}</mat-label>
                                <input matInput [formControlName]="field.controlName">
                                <mat-error *ngIf="form.get(field.controlName)?.hasError('required')">{{field.controlLabel}} is required</mat-error>
                            </mat-form-field>

                            <mat-form-field *ngSwitchCase="'select'" class="mb-lg-2" [style.width]="field.controlWidth" appearance="outline">
                                <mat-label>{{field.controlLabel}}</mat-label>
                                <mat-select
                                    class="selectField"
                                    disableOptionCentering
                                    panelClass="matDropdown"
                                    [formControlName]="field.controlName"
                                >
                                    <mat-option *ngFor="let option of field.selectOptions | keyvalue" [value]="option.key">{{option.value}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.get(field.controlName)?.hasError('required')">{{field.controlLabel}} is required</mat-error>
                            </mat-form-field>

                            <mat-form-field *ngSwitchCase="'textarea'" class="mb-lg-1" [style.width]="field.controlWidth" appearance="outline">
                                <mat-label>{{field.controlLabel}}</mat-label>
                                <textarea type="field.controlType" rows="4" matInput [formControlName]="field.controlName"></textarea>
                            </mat-form-field>

                            <ng-container *ngSwitchCase="'file'">
                                <div (click)="fileUpload.click()" class="upload-wrap mt-lg-2">
                                    <input 
                                        type="file" 
                                        class="file-upload"
                                        (change)="imgFileUpload($event)" 
                                        #fileUpload
                                    />
                                    <span *ngIf="!imgPic" class="icon">
                                        <app-icon [iconName]="'export'" [iconWidth]="30" [iconHeight]="30"></app-icon>
                                    </span>
                                    <div *ngIf="!imgPic" class="info">Click to upload an image</div>
                                    <img class="logo" *ngIf="!imgUploadError && imgPic" [src]="imgPic" alt="">
                                    <span class="file-name">{{imgFileName ? imgFileName : 'No image uploaded'}}</span>
                                </div>
                            </ng-container>
    
                        </ng-container>
                    </ng-container>

                    <div class="btn-hld d-flex justify-content-end mt-lg-3" style="width: 100%">
                        <div (click)="onSubmit()" class="cta primary-bkg mmd text-uppercase" style="min-width: 30%" type="submit">Submit <span *ngIf="apiLoading" class="loader ms-1"></span></div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>