.row-card {

    .cont {
        
        &.rd-pd {
            padding: 0.7rem !important;
        }

        .info {
        
            &.major {
                display: flex;
                padding: 1.2rem 0;
                border-radius: var(--radius-md);
                background: var(--primary-lightest);
                flex-direction: column;
                justify-content: center;
                align-items: center;
        
                .image {
                    width: 7rem;
                    height: 7rem;
                    padding: 1rem;
                    border-radius: 50%;
                    background-color: white;
                    box-shadow: var(--card-shadow);
                }

                .det {
                    width: 100%;
                    text-align: center;

                    .name {
                        font-size: 0.9rem;
                        font-family: var(--font-bold);
                        letter-spacing: 0.03rem;
                    }

                    .role {
                        font-size: 0.8rem;
                        font-family: var(--font-regular);
                        letter-spacing: 0.03rem;
                    }

                    .contact {
                        width: 90%;
                        display: flex;
                        margin: 1rem auto 0;
                        flex-direction: column;
                        border-radius: var(--radius-sm);

                        .info {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 0.7rem;
                            color: var(--black-tint);
                            background: white;
                            border-radius: 1rem;
                            padding: 0.2rem;
                            font-family: var(--font-regular);
                            font-size: 0.75rem;
                            letter-spacing: 0.03rem;

                            .icon {
                                color: var(--primary);
                            }
                        }
                    }
                }
            }
        
            &.minor {
                
                .listed-items {

                    .item {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 1rem 0.7rem;
                        margin: 0;

                        &:nth-child(n+2) {
                            border-top: 1px solid var(--border-grey-md);
                        }

                        .label {
                            font-size: 0.8rem;
                            font-family: var(--font-medium);
                            letter-spacing: 0.03rem;
                            color: var(--black-tint);
                        }

                        .text {
                            font-size: 0.8rem;
                            font-family: var(--font-regular);
                            letter-spacing: 0.03rem;
                            //color: var(--black-tint);
                        }
                    }
                }
            }
        }
    }


    // .cont {

    //     &.lg {
    //         padding: 1.6rem 2rem;
    //     }

    //     .select-period {
    //         font-size: 0.65rem;
    //         font-family: var(--font-regular);
    //         padding: 1rem 5% 0.5rem;
    //         border-radius: var(--radius-md);
    //         background-color: var(--white);
    //         box-shadow: var(--card-shadow);

    //         mat-form-field-wrapper {
    //             padding: 0 !important;
    //         }
    //     }

    //     .details {
    //         display: flex;
    //         align-items: center;
    //         position: relative;
    //         gap: 2rem;

    //         &:nth-child(2) {
    //             margin-top: 1.5rem;
    //             padding-top: 1.5rem;
    //             border-top: 1px solid var(--border-black-lightest);
    //         }

    //         .edit {
    //             cursor: pointer;
    //             position: absolute;
    //             color: white;
    //             transition: var(--transition-norm);
    //             right: 0%;
    //             top: -3%;

    //             &:hover {
    //                 color: rgba(#fff, 0.9);
    //             }
    //         }

    //         .image {
    //             width: 7rem;
    //             height: 7rem;
    //             border-radius: 50%;
    //         }

    //         .info-wrap {
    //             flex: 1;

    //             .info-title {
    //                 display: inline-flex;
    //                 flex-direction: column;
    //                 gap: 4px;

    //                 span {
    //                     &:first-child {
    //                         font-size: 1.3rem;
    //                         font-family: var(--font-bold);
    //                         letter-spacing: 0.04rem;
    //                     }

    //                     &:last-child {
    //                         font-size: 0.75rem;
    //                         font-family: var(--font-regular);
    //                         letter-spacing: 0.03rem;
    //                         color: var(--warning);
    //                     }
    //                 }
    //             }

    //             .info-list {
    //                 display: flex;
    //                 align-items: center;
    //                 flex-wrap: wrap;
    //                 gap: 0.4rem 1.5rem;

    //                 &.space {
    //                     gap: 0.9rem 1.5rem;
    //                 }

    //                 .info {
    //                     font-size: 0.785rem;
    //                     font-family: var(--font-regular);
    //                     letter-spacing: 0.03rem;

    //                     &.duo {
    //                         width: 47%;
    //                     }
    
    //                     &.tri {
    //                         width: 30%;
    //                     }

    //                     .label {
    //                         font-size: 0.75rem;
    //                         font-family: var(--font-bold);
    //                         color: var(--black-tint);
    //                     }

    //                     .text {
    //                         color: var(--black-tint);
    //                         margin-left: 0.4rem;
    //                     }
    //                 }
    //             }
    //         }
    //     }

    //     .skill-card {
    //         //height: 38%;
    //         display: flex;
    //         flex-wrap: wrap;
    //         margin-top: 1rem;
    //         align-items: flex-start;
    //         padding: 0.5rem 0.7rem;
    //         border-radius: var(--radius-md);
    //         background-color: var(--primary-light);
    //         gap: 0.35rem 0.3rem;

    //         .skill {
    //             height: fit-content;
    //             font-size: 0.6rem;
    //             background-color: white;
    //             border-radius: var(--radius-lg);
    //             padding: 0 0.5rem;
    //         }
    //     }
        
    //     .donut-chart {
    //         position: relative;
            
    //         .chart-title {
    //             display: flex;
    //             position: absolute;
    //             flex-direction: column;
    //             justify-content: center;
    //             transform: translate(-50%, -50%);
    //             align-items: center;
    //             text-align: center;
    //             left: 50%;
    //             top: 50%;
    //             z-index: 2;

    //             span {

    //                 &:first-child {
    //                     font-size: 1.7rem;
    //                     font-family: var(--font-bold);
    //                     color: var(--black-tint);
    //                 }

    //                 &:last-child {
    //                     font-size: 0.65rem;
    //                     font-family: var(--font-regular);
    //                     line-height: 1.2;
    //                     margin-top: 0.5rem;
    //                     letter-spacing: 0.03rem;
    //                 }
    //             }
    //         }
    //     }

    //     .leave-wrap {
    //         display: flex;
    //         flex-wrap: wrap;
    //         align-items: center;
    //         justify-content: space-between;

    //         .leave-hld {
    //             width: 48.5%;
    //             display: flex;
    //             align-items: center;
    //             padding: 0.6rem 0.5rem;
    //             border-radius: var(--radius-md);
    //             border: 2px solid var(--border-black-lightest);
    //             gap: 0.4rem;

    //             &:nth-child(n+3) {
    //                 margin-top: 0.7rem;
    //             }

    //             &.sick {
    //                 border: 2px solid rgba(205,143,97,0.5)
    //             }

    //             &.unpaid {
    //                 border: 2px solid rgba(235,87,87, 0.5);
    //             }

    //             &.paid {
    //                 border: 2px solid rgba(54,171,104, 0.5);
    //             }
    //             &.annual {
    //                 border: 2px solid rgba(0,144,255,0.5);
    //             }

    //             .icon {
    //                 font-size: 0.875rem;
    //                 color: var(--black-tint);
    //             }

    //             .title {
    //                 font-size: 0.65rem;
    //                 letter-spacing: 0.03rem;
    //             }

    //             .count {
    //                 font-size: 0.65rem;
    //                 margin-left: auto;

    //                 span {
    //                     font-size: 0.9rem;
    //                     font-weight: 600;
    //                 }
    //             }
    //         }
    //     }
    // }
}

.info-wrap {
    flex: 1;

    .info-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.4rem 2rem;

        &.space {
            gap: 2.5rem 1.5rem;
        }

        .info {
            display: flex;
            flex-direction: column;
            font-size: 0.785rem;
            font-family: var(--font-regular);
            letter-spacing: 0.03rem;

            &.duo {
                width: 47%;
            }

            &.tri {
                width: 30%;
            }

            .label {
                font-size: 0.8rem;
                font-family: var(--font-regular);
                color: var(--black-tint);
            }

            .text {
                font-size: 0.8rem;
                font-family: var(--font-regular);
                letter-spacing: 0.03rem;
                //color: var(--black-tint);
            }
        }
    }
}