.accordion {

    .accordion-item {
        background-color: white;
        border: 1px solid var(--black-tint-sm);
        box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.09);
        border-radius: var(--radius-md);

        &:nth-child(n+2) {
            margin-top: 1rem;
        }

        .weight {
            width: 2rem;
            height: 2rem;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-size: 0.6rem;
            font-family: var(--font-medium);
            letter-spacing: 0.03rem;
            border-radius: 50%;
            margin-right: 1rem;
            background: var(--primary-light);

            &.checked {
                background: var(--approved-light);
            }
        }

        .accordion-header {
            border: none;
            
            .accordion-button {
                display: flex;
                align-items: center;
                font-size: 0.85rem;
                letter-spacing: 0.02rem;
                background-color: transparent;
                padding: 1.1rem 1.4rem;

                &::after {
                    display: none;
                    background-size: 70%;
                }

                &:focus {
                    outline: none;
                    box-shadow: none;
                }

                .name {
                    font-size: 0.9rem;
                    font-family: var(--font-bold);
                    color: var(--black);
                    margin-right: 2rem;
                }

                .chips {
                    display: flex;
                    gap: 0.5rem;

                    .chip {
                        display: inline-flex;
                        font-size: 0.65rem;
                        line-height: 1;
                        letter-spacing: 0.03rem;
                        padding: 0.3rem 1rem;
                        font-family: var(--font-regular);
                        background: var(--pending-light);
                        border-radius: var(--radius-lg);
                    }
                }

                .range {
                    font-size: 0.8rem;
                    font-family: var(--font-medium);
                    margin-left: 2rem;
                    color: var(--black-tint);
                }

                .actions {
                    margin-left: auto;

                    .icon {

                        &.delete {
                            color: var(--warning);
                        }
                    }
                }
            }
        }

        .accordion-body {
            padding: 0 1.4rem;

            // .role-wrap {
            //     width: 100%;
            //     display: flex;
            //     padding-bottom: 0.4rem;
            //     box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.09);

            //     .role-hld {
            //         width: 10%;
            //         display: inline-flex;
            //         justify-content: center;
            //         font-size: 0.75rem;
            //         letter-spacing: 0.02rem;
            //         font-family: var(--font-regular);

            //         &:first-child {
            //             width: 40%;
            //         }
            //     }
            // }

            // .features-wrap {
            //     height: auto;
            //     max-height: 20rem;
            //     overflow-y: auto;

            //     &::-webkit-scrollbar,
            //     &::-webkit-scrollbar-track {
            //         display: none;
            //     }

            //     .feature-hld {

            //         &:nth-child(n+2) {
            //             margin-top: 1rem;
            //         }

            //         .feature-hdr {
            //             font-size: 0.8rem;
            //             letter-spacing: 0.02rem;
            //             font-family: var(--font-medium);
            //             border-radius: var(--radius-sm);
            //             padding: 0.3rem 1rem;
            //             background: var(--primary-lightest);
            //         }

            //         .permissions-wrap {
            //             display: flex;
            //             flex-direction: column;
            //             margin-top: 0.8rem;
            //             gap: 1rem;

            //             .permission-hld {
            //                 width: 100%;
            //                 display: flex;
            //                 padding: 0 1rem;

            //                 .permission-col {
            //                     width: 10%;
            //                     font-size: 0.8rem;
            //                     letter-spacing: 0.02rem;
            //                     font-family: var(--font-regular);
            //                     color: var(--black-tint);
            //                     display: inline-flex;
            //                     justify-content: center;

            //                     &:first-child {
            //                         width: 40%;
            //                         justify-content: flex-start;
            //                     }
            //                 }
            //             }
            //         }
            //     }
            // }
            
        }
    }
}

.headless-table-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .row-hld {
        width: 100%;
        display: grid;
        align-items: center;
        padding: 0 1rem;
        grid-template-columns: 2fr 1fr 1fr 1fr 0.5fr;

        &.hdr {
            font-size: 0.85rem;
            font-family: var(--font-medium);
            padding: 0.5rem 1rem;
            border-radius: var(--radius-md);
            background: var(--primary-lightest);

            .row-cell {
                font-family: var(--font-medium);
            }
        }

        .row-cell {
            font-size: 0.75rem;
            font-family: var(--font-regular);

            &.weight {
                font-size: 0.7rem;
            }

            .actions {
                margin-left: auto;

                .icon {

                    &.delete {
                        color: var(--warning);
                    }
                }
            }
        }
    }
}