@import 'src/assets/styles/base/mixins';

.leave-wrap {
    width: 100%;
    gap: 1rem 1.8%;

    .cont {
        
        &.status-card {
            width: 23.6% !important;
            min-width: 14rem;
            height: 11rem !important;
            transition: all 0.4s ease;

            @include screen-media-min(xxxl) {
                width: 24%;
                min-width: 12rem;
                height: 10rem !important;
            }

            &.single:hover {
                background: var(--primary-lightest);
            }
    
            .card-title {
                margin-left: 0.5rem;
            }
        }
    }
}

.actions-info {

    .dropdown-trigger {
        width: 10rem;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.75rem;
        letter-spacing: 0.03rem;
        padding: 0.2rem 0.7rem;
        border-radius: var(--radius-xs);
        transition: var(--transition-norm);
        border: 1px solid var(--border-black-lightest);
        cursor: pointer;

        i {
            margin-left: 0.6rem;
        }
    }
}

.mat-menu-panel {
    width: 14rem;
    max-width: 18rem;
    margin-top: 0.3rem;
    border: 1px solid var(--black-tint-sm);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    background-color: white !important;
    color: var(--darker);

    &.more {
        width: 10rem;
    }

    .mat-menu-content {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    } 

    .mat-menu-item {
        width: 100%;
        height: 35px;
        display: inline-flex;
        align-items: center;
        font-size: 0.7rem;
        font-family: var(--font-regular);
        letter-spacing: 0.01rem;
        color: var(--darker);
        transition: all 0.4s ease-in;

        &:hover {
            background-color: var(--primary-light);
        }

        &:nth-child(n+2) {
            border-top: 1px solid var(--black-tint-sm);
        }
    }
}