<div class="card-det">
    <!-- <div class="card-image">
        <div class="photo bkg-standard" style="background-image: url('{{cardInfo.thumbnail}}');"></div>
        <div class="overlay"></div>
        <div class="image-chip">{{cardInfo.category}}</div>
    </div> -->
    <div class="card-info">
        <div *ngIf="isSuperAdmin" (click)="deleteItem()" class="delete-icon"><i class="bi bi-trash3-fill"></i></div>
        <div class="name">{{cardInfo.title}}</div>
        <div class="param-wrap mt-3">
            <div class="info-hld">
                <span class="icon warning">
                    <app-icon [iconName]="'clock'" [iconWidth]="15" [iconHeight]="15"></app-icon>
                </span> 
                {{convertHrsMins(cardInfo.timeLimit)}}
            </div>
            <div class="info-hld">
                <span class="icon primary">
                    <app-icon [iconName]="'users'" [iconWidth]="18" [iconHeight]="18"></app-icon>
                </span> 
                {{cardInfo.stats.totalSubmissions}}
            </div>
            <div class="info-hld">
                <span class="icon approved">
                    <app-icon [iconName]="'trophyStar'" [iconWidth]="17" [iconHeight]="17"></app-icon>
                </span> 
                {{cardInfo.passScore}}%
            </div>
        </div>            
    </div>
</div>