<div class="content-wrap details-list">

    <div class="row-section">
        <div class="row-card w-100 card-xlg card-yxl">
            <div class="inner-row w-100 d-flex justify-content-between align-items-center">
                <div class="card-title md">Personal Information</div>
                <button *ngIf="employeeDetails" (click)="editEmployeeInfo()" class="edit cta quick trans-bkg md">Edit Info</button>
            </div>
        </div>
    </div>

    <div class="row-section">
        <div class="inner-row-hld d-flex justify-content-between">
            <div class="info-wrap mt-lg-4">
                <div class="info-list space">
                    <div class="info tri">
                        <span class="label">Birthday:</span>
                        <span *ngIf="!employeeDetails?.dateOfBirth">-</span>
                        <span *ngIf="employeeDetails?.dateOfBirth" class="text">{{strToDate(employeeDetails?.dateOfBirth) | date: 'd MMMM, y'}}</span>
                    </div>
                    
                    <div class="info duo">
                        <span class="label">Address:</span>
                        <span class="text">{{employeeDetails?.address ? employeeDetails?.address : '-'}}</span>
                    </div>

                    <div class="info tri">
                        <span class="label">City:</span>
                        <span class="text">{{employeeDetails?.city ? employeeDetails?.city : '-'}}</span>
                    </div>

                    <div class="info tri">
                        <span class="label">Country:</span>
                        <span class="text">{{employeeDetails?.country ? employeeDetails?.country : '-'}}</span>
                    </div>

                    <div class="info tri">
                        <span class="label">Nationality:</span>
                        <span class="text">{{employeeDetails?.nationality ? employeeDetails?.nationality : '-'}}</span>
                    </div>

                    <div class="info tri">
                        <span class="label">Gender:</span>
                        <span class="text">{{employeeDetails?.gender ? employeeDetails?.gender : '-'}}</span>
                    </div>

                    <div class="info tri">
                        <span class="label">Next of Kin:</span>
                        <span class="text">{{employeeDetails?.nextOfKinFullName ? employeeDetails?.nextOfKinFullName : '-'}}</span>
                    </div>

                    <div class="info">
                        <span class="label">Next of Kin Phone:</span>
                        <span class="text">{{employeeDetails?.nextOfKinPhoneNumber ? employeeDetails?.nextOfKinPhoneNumber : '-'}}</span>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="employeeDetails" class="row-section mt-4">
        <div class="row-card w-100 card-xlg card-yxl">
            <div class="inner-row w-100 d-flex justify-content-between align-items-center">
                <div class="card-title md">Documents</div>
                <button (click)="uploadDocument()" class="edit cta quick trans-bkg md">Upload Document</button>
            </div>

            <div class="inner-row w-100">
                <app-no-data
                    [height]="'10.5rem'"
                    [icon]="'folderOpen'"
                    [message]="'No documents exist'"
                >
                </app-no-data>
            </div>
        </div>
    </div>

</div>